body {
     font-family: 'Montserrat', sans-serif;
}

p,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
    margin-top:  0;
    margin-bottom: 0;
    
}

ul {
    list-style-type: none;   /* none . */
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;   /* none ___*/
}

button {
    cursor: pointer;          /* рука - hand */ 
}
.container {
    width: 100%;
    max-width: 1166px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;   /*  centre */  
    outline: 2px  solid  crimson ;        
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-transform: uppercase;         /* робить заглавними (прописними) усі букви у тексті */
    text-align: center;                /* горизонтальне вирівнювання */
    color: #111;
    }

    .title span {
        color: #fd9222;
    }



/* =================================  */

/* ===========  HEADER  ===========  */

.header {
    padding-top: 24px;
    padding-bottom: 32px;

}

.header-logo {
font-weight: 700;                                                   /* font-weight- насиченість шрифта */
font-size: 18px;                                                    /* font-size- розмір шрифта */
line-height: 1.11;                   /* 20:18=1.11 */               /* line-height- висота строки */
letter-spacing: -0.03em;             /* 0.54px:18px=-0.03em */      /* letter-spacing- відстань між буквами- інтервал між символами в тексті*/
color: black;
}

.header-logo-italic {
    font-style: italic;        /* текст з нахилом */
   }

.header-menu-link {
font-weight: 500;                                                        /* font-weight- насиченість шрифта */
font-size: 14px;               /* 16/14=1.14; -0,28/14=0.02em */         /* font-size- розмір шрифта */
line-height: 1.14;             /* line-height: 16px; */                  /* line-height- висота строки */
letter-spacing: -0.02em;       /* letter-spacing: 0,28px; */             /* letter-spacing- відстань між буквами- інтервал між символами в тексті*/
color: black;
}

/*==================================*/

/* ============  HERO  ============ */

.hero {
    
    padding-bottom: 80px;
}

.hero-container {
    background-color: rgba(17, 17, 17, 0.6);
    border-radius: 30px;
    padding: 380px 40px 40px 40px;
}

.hero-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 1.21;
    letter-spacing: -0.03em;
    color: white;
    max-width: 484px;
    margin-bottom: 32px;
}



.hero-btn {
    font-family: inherit;    /* наслідування батьківмького елемента  */
    font-weight: 600;
    font-size: 14px;
    color: white;
    line-height: normal;     /* браузер може приймати рішення розміра строки самостійно */
}

.hero-made-link {
    font-weight: 600;
    font-size: 14px;
    color: white;
    line-height: normal;     /* браузер може приймати рішення розміра строки самостійно */
}

.hero-scroll-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.03em;
    color: white;
}

/* ====================================================*/

/* =================== FEATURES ====================== */

.features {
    background-color: #1e1823;
    padding-top: 50px;
    padding-bottom: 50px;
}

.features-list {
}

.features-item {
}

.features-subtitle {
font-weight: 600;
font-size: 18px;
color: white;
line-height: normal;   
margin-bottom: 18px;         /* браузер може приймати рішення розміра строки самостійно */
}

.features-item-text {
font-weight: 400;               /*    підчищати   */
font-size: 14px;
line-height: 1.29;
letter-spacing: -0.02em;
color: rgba(255, 255, 255, 0.7);
}

/* ============================================== */

/* =================== TASTE ==================== */

.taste {
    padding-top: 120px;
    padding-bottom: 60px;
}

.taste-title {
font-weight: 600;
font-size: 24px;
line-height: 1.17;
letter-spacing: -0.03em;
text-transform: uppercase;        /* робить заглавними (прописними) усі букви у тексті */
text-align: center;               /* горизонтальне вирівнювання */
color: black;
max-width: 412px;
margin: 0 auto;
margin-bottom: 28px;
}

.taste-title span {
    color: #fd9222;
}

.taste-text {
font-size: 14px;
line-height: 1.29;
letter-spacing: -0.02em;
text-align: center;                 /* горизонтальне вирівнювання */
color: black;
max-width:  486px;
margin: 0 auto;
margin-bottom: 50px;
}

.taste-list {
}

.taste-item {
}

.taste-picture {
}

.taste-subtitle {
font-weight: 600;
font-size: 14px;
line-height: 1.29;
letter-spacing: -0.02em;
text-transform: uppercase;                   /* робить заглавними (прописними) усі букви у тексті */
color: #fff;
}

/* ============================================================== */

/* ========================= MADE =============================== */

.made-title {
    font-family: var(--font-family);
font-weight: 600;
font-size: 24px;
line-height: 1.17;
letter-spacing: -0.03em;
text-transform: uppercase;          /* робить заглавними (прописними) усі букви у тексті */
text-align: center;                 /* горизонтальне вирівнювання */
color: #111;
}

.made-title span {
    color: #fd9222;
}

.made-image {
}

.made-subtitle {
font-weight: 600;
font-size: 18px;
line-height: 1.33;
color: #111;
}

.made-list {
}

.made-item {
}

.made-item-text {
font-size: 14px;
line-height: 1.29;
letter-spacing: -0.02em;
color: #111;
}

/* ====================================================================== */

/* ==========================  PRODUCTS  ================================ */



.products {
}

.products-title {
font-weight: 600;
font-size: 24px;
line-height: 1.17;
letter-spacing: -0.03em;
text-transform: uppercase;         /* робить заглавними (прописними) усі букви у тексті */
text-align: center;                /* горизонтальне вирівнювання */
color: #111;
}

.products-title span {
   color: #fd9222;
}

.products-list {
}

.products-item {
}

.products-picture {
}

.products-subtitle {
font-weight: 600;
font-size: 18px;
line-height: 1.33;
letter-spacing: -0.02em;
text-transform: uppercase;              /* робить заглавними (прописними) усі букви у тексті */
color: #111;
}

.products-item-text {
font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: -0.02em;
color: rgba(17, 17, 17, 0.7);
}

.products-btn {
font-weight: 600;
font-size: 14px;
color: #111;
line-height: normal;                /* браузер може приймати рішення розміра строки самостійно */
}

/*============================= З ЦЬОГО МОМЕНТУ БУДУ .title  з БОДІ та  span ========================= */ 



/*================================================================================================== */

/*========================================= SELLERS ================================================== */

.sellers {
}

.sellers-title {
}

/* .title {
  font-weight: 600;
font-size: 24px;
line-height: 1.17;
letter-spacing: -0.03em;
text-transform: uppercase;
text-align: center;
color: #111;
} */

.sellers-list {
}

.sellers-item {
}

.sellers-pictire {

}

.sellers-subtitle {
font-weight: 600;
font-size: 18px;
line-height: 1.33;
letter-spacing: -0.02em;
text-transform: uppercase;
color: #111;
}

/*====================================================================================================== */

/* ======================================== LOVED ================================================= */

.loved {
}

.loved-title {
}

/* .title {
font-weight: 600;
font-size: 24px;
line-height: 1.17;
letter-spacing: -0.03em;
text-transform: uppercase;
text-align: center;
color:  #111;
} */

.loved-list {
}

.loved-item {
}

.loved-subtitle {
font-weight: 600;
font-size: 18px;
line-height: 1.33;
text-align: center;
color: #111;
}

.loved-item-text {
font-weight: 400;
font-size: 14px;
line-height: 1.29;
letter-spacing: -0.02em;
text-align: center;
color: rgba(17, 17, 17, 0.7);
}

.loved-btn {
font-weight: 600;
font-size: 18px;
color: #111;
font-style: normal;
}

.loved-picture {

}


/* ==================================================================================================== */

/* ============================================ FOOTER ================================================= */


.footer {
   background-color: #1e1823;
} 

.footer-text {
font-family: "Montserrat", sans-serif;
font-weight: 500;
font-size: 28px;
line-height: 1.21;
letter-spacing: -0.02em;
color: #fff;
}
 .footer-text span {
    color: #fd9222;
 }

.footer-subtitle {
font-weight: 500;
font-size: 14px;
line-height: 1.29;
text-align: center;
color: #fff;
}

.footer-soc-list {
}
.footer-soc-item {
}

.footer-soc-link {
}
.footer-address {
    font-style: normal;    /* прибрали нахил */ 
}

.footer-address-list {
}
.footer-address-item {
}

.footer-address-link {
  font-weight: 400;
font-size: 14px;
line-height: 1.29;
letter-spacing: -0.02em;
text-align: center;
color: #fff;
}

.footer-navigation {
}

.footer-menu-list {
}

.footer-menu-item {
}

.footer-menu-link {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: -0.02em;
color: #fff;
}


